$primaryColor-900: #2441d1;
$primaryColor-800: #1465f0; //Light
$primaryColor-700: #0077ff;
$primaryColor-600: #008bff;
$primaryColor-500: #009aff;
$primaryColor-400: #07aaff;
$primaryColor-300: #51bbff; //Dark
$primaryColor-200: #8bceff;
$primaryColor-100: #bae1ff;
$primaryColor-50: #e2f3ff;

$secondaryColor-900: #e94b00;
$secondaryColor-800: #f26800;
$secondaryColor-700: #f77900;
$secondaryColor-600: #fc8a00;
$secondaryColor-500: #ff9600;
$secondaryColor-400: #ffa600; //Light
$secondaryColor-300: #ffb640; //Dark
$secondaryColor-200: #ffcb78;
$secondaryColor-100: #ffe0ae;
$secondaryColor-50: #fff3de;

$white: #f6f5f6;
$whiteInDark: #ffffff;
$black: #262728;
$dark: #31343c;
$darkInWhite: #000000;

$darkRGB: 49, 52, 60;

$titleFont: 'Oxygen', sans-serif;
$textFont: 'Poppins', sans-serif;

$spaceXXL: 64px;
$spaceXL: 48px;
$spaceLg: 32px;
$spaceMd: 24px;
$spaceSm: 16px;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

$tech-colors: #f16529, #0c73b8, #cd6799, #f7df1e, #de4c36, #7276ac, #e68a10;
$projectDurations: 0, 10s, 0, 3.5s, 3.4s;
