@use '../utils';

html {
  box-sizing: border-box;
  font-size: 12px;
  height: -webkit-fill-available;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  color: utils.$black;
  background-color: utils.$white;
  font-family: utils.$textFont;
}
p {
  line-height: 1.5;
  margin: 0px;
  cursor: default;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: utils.$black;
}
h1,
h2,
h3,
h4 {
  font-family: utils.$titleFont;
  margin: 0px;
}
h1 {
  font-size: 2.625rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
section {
  padding: 4.5rem 0px;
}

.icon {
  font-size: 24px;
}
@media (min-width: 768px) {
  .icon {
    font-size: 20px;
  }
}

.main {
  height: 100vh;
  background-color: utils.$white;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.whiteLink {
  color: rgba(utils.$white, 0.5);
  fill: rgba(utils.$white, 0.5);
  transition: all 0.1s ease-out;

  &:hover {
    color: utils.$white;
    fill: utils.$white;
  }
}
.blackLink {
  color: rgba(utils.$black, 0.5);
  fill: rgba(utils.$black, 0.5);
  transition: all 0.1s ease-out;

  &:hover {
    color: utils.$black;
    fill: utils.$black;
  }
}
.title {
  margin-bottom: utils.$spaceLg;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 80px;
    height: 2px;
  }
  @media (min-width: 1024px) {
    & {
      margin-bottom: 48px;
    }
  }
}

.principal-text {
  font-size: 14px;
  @include utils.tablet {
    font-size: 16px;
  }
}
.secondary-text {
  font-size: 1rem;
  @include utils.desktop {
    font-size: 14px;
  }
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: utils.$secondaryColor-400;
  border: 1px solid #cc8500;
  font-size: 14px;
  color: #000000;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: utils.$secondaryColor-500;
  }
  @include utils.tablet {
    font-size: 16px;
  }
}
