@use '../utils';

html {
  box-sizing: border-box;
  font-size: 12px;
  height: -webkit-fill-available;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  color: var(--colorText);
  background-color: var(--colorBackground);
  font-family: utils.$textFont;
}
p {
  line-height: 1.5;
  margin: 0px;
  cursor: default;
  color: var(--colorText);
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--colorText);
}
h1,
h2,
h3,
h4 {
  font-family: utils.$titleFont;
  margin: 0px;
  color: var(--colorText);
}
h1 {
  font-size: 2.625rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
section {
  padding: 4.5rem 0px;
  background-color: var(--colorBackground);
}

.color-transition *,
.color-transition *::after,
.color-transition *::before {
  transition: all 0.5s ease !important;
}

.icon {
  color: var(--colorIcon);
}

.main {
  height: 100vh;
  background-color: var(--colorBackground);
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;

  &--modal {
    max-width: 1196px;
    width: 95%;
  }
}
.card {
  background-color: var(--colorCard);
  color: var(--colorCardText);
  box-shadow: 0 4px 5px rgba(var(--colorShadow), 0.14), 0 1px 10px rgba(var(--colorShadow), 0.12),
    0 2px 4px rgba(var(--colorShadow), 0.2);
}

.link,
.link:link,
.link:visited {
  color: var(--colorPrimary);
  &:hover {
    text-decoration: underline;
  }
}
.whiteLink {
  color: rgba(utils.$color__white, 0.6);
  fill: rgba(utils.$color__white, 0.6);
  transition: all 0.1s ease-out;

  &:hover {
    color: utils.$color__white;
    fill: utils.$color__white;
  }
}
.blackLink {
  color: rgba(utils.$color__black, 0.6);
  fill: rgba(utils.$color__black, 0.6);
  transition: all 0.1s ease-out;

  &:hover {
    color: utils.$color__black;
    fill: utils.$color__black;
  }
}

.title {
  margin-bottom: utils.$spaceXL;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 80px;
    height: 2px;
  }
  @media (min-width: 1024px) {
    & {
      margin-bottom: 56px;
    }
  }
}

.principal-text {
  font-size: 16px;
}
.secondary-text {
  font-size: 1rem;
  @include utils.desktop {
    font-size: 14px;
  }
}

.button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px rgba(var(--colorShadow), 0.14), 0 2px 1px rgba(var(--colorShadow), 0.12),
    0 1px 3px rgba(var(--colorShadow), 0.2);
  @include utils.tablet {
    font-size: 16px;
  }

  &--primary {
    min-width: 120px;
    background-color: var(--colorSecondary);
    border: 1px solid #fc8a00;
    color: utils.$color__black;
    &:hover {
      cursor: pointer;
      background-color: var(--colorSecondaryDarker);
    }
  }

  &--sm {
    font-size: 14px;
  }

  &--icon {
    padding: 8px 14px;
    .icon {
      color: utils.$color__white;
      font-size: 28px;
    }
  }
}
