@use '../utils';

// About
.about {
  &__content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    row-gap: utils.$spaceXL;

    @include utils.tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: utils.$spaceLg;
      row-gap: unset;
    }
    @include utils.desktop {
      grid-template-rows: repeat(2, auto);
    }
  }

  &__title:after {
    background-color: utils.$primaryColor-800;
  }

  @media (min-width: 1024px) {
    &__description {
      grid-column: 1 / 2;
    }
    &__info {
      grid-column: 2 / 3;
    }
    &__cv {
      // grid-column: 1 / 3;
      // grid-row: 2 / 3;
      grid-area: 2 / 1 / 3 / 3;
      place-self: end start;
      margin-top: 0px;
    }
  }

  &__info {
    display: flex;
    row-gap: utils.$spaceXL;
    flex-direction: column;

    @include utils.desktop {
      flex-direction: column;
    }
  }

  &__cv {
    .button {
      width: 100%;
      @include utils.mobile {
        width: auto;
      }
    }
  }
}

.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
    margin-top: utils.$spaceMd;
    @include utils.desktop {
      margin-top: utils.$spaceXL;
    }
  }
  &__text {
    font-size: 14px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: utils.$primaryColor-800;
      transition: width 0.2s linear;
      width: 100%;
    }
    @include utils.tablet {
      font-size: 16px;
    }
  }
}

.interests {
  &__list {
    margin-top: utils.$spaceMd;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: utils.$spaceSm utils.$spaceSm;

    @include utils.desktop {
      margin-top: utils.$spaceLg;
    }
  }
  &__item {
    text-align: center;
    border: 1px solid rgba(utils.$black, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    transition: all 0.3s ease-out;
    @include utils.tablet {
      padding: 10px;
      max-width: 45px;
      justify-content: start;
      overflow: hidden;
    }
    @media (min-width: utils.$tablet) {
      &:hover {
        max-width: 142px;
      }
      &:hover .interests__text {
        visibility: visible;
      }
    }
  }
  &__icon {
    display: flex;
    fill: utils.$secondaryColor-400;
    & .icon {
      font-size: 18px;
      @include utils.tablet {
        font-size: 20px;
      }
    }
  }
  &__text {
    transition: all 0.3s ease;
    display: block;
    @include utils.tablet {
      pointer-events: none;
      visibility: hidden;
    }
  }
}
