@use './../utils';

.theme--dark .footer {
  background-color: #43454d;
}

.footer {
  margin-top: 64px;
  background-color: utils.$color__dark;
  padding: 24px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    font-size: 12px;
    color: rgba(utils.$color__white, 0.6);
  }
  &__text {
    text-decoration: underline;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      display: inherit;
    }

    .icon {
      font-size: 24px;
    }
  }

  @include utils.mobile {
    &__container {
      flex-direction: row;
      gap: unset;
    }
  }

  @include utils.tablet {
    &__info {
      font-size: 14px;
    }
    &__text {
      text-decoration: none;
    }
    &__contact {
      .icon {
        font-size: 28px;
      }
    }
  }
}
