@use '../utils';

.loader {
  position: absolute;
  inset: 0;
  background-color: utils.$color__dark;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.4s ease-in;

  &__container {
    position: relative;
    height: 100%;
  }

  &__logo {
    color: utils.$color__white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 2.5rem;
    opacity: 0;
    transition: opacity 0.4s ease, font-size 0.4s ease;
  }
  &__logo.show {
    opacity: 1;
  }
  &__logo.move {
    transition: all 0.4s ease;
    top: 16px;
    left: 0px;
    transform: none;
    font-size: 2rem;
    @include utils.tablet {
      top: 24px;
    }
  }
}
.loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.navbar {
  $self: &;
  width: 100%;
  position: fixed;
  bottom: 0px;
  backdrop-filter: blur(4px);
  z-index: 5;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    transition: inherit;
  }

  &__title {
    color: utils.$color__white;
    transition: inherit;
    display: none;
  }

  .navigation__link {
    color: var(--colorSubText);
  }

  &.navbar--scroll {
    background-color: var(--colorNavbar);
    border-bottom: 1px solid rgba(utils.$color__white, 0.5);
    #{$self}__content {
      padding: 16px 0px;
    }
    #{$self}__title {
      color: utils.$color__black;
    }

    & .navigation {
      li:hover .navigation__link,
      li.active .navigation__link {
        color: var(--colorText);
      }
      &__link {
        color: rgba(utils.$color__dark, 0.6);
      }
    }

    .theme--dark & {
      border-bottom: 1px solid rgba(utils.$color__dark, 0.5);
      #{$self}__title {
        color: utils.$color__white;
      }
      .navigation__link {
        color: rgba(utils.$color__white, 0.6);
      }
    }
  }

  @include utils.tablet {
    border-bottom: 1px solid rgba(utils.$color__white, 0.25);
    bottom: unset;
    top: 0px;

    &__content {
      justify-content: space-between;
    }

    &__title {
      display: block;
    }

    .navigation__link {
      color: rgba(utils.$color__white, 0.6);
    }
  }

  // Navigation
  .navigation {
    width: 100%;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      li {
        position: relative;
        &:hover .navigation__link {
          color: utils.$color__white;
        }
      }

      li::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0px;
        right: 0px;
        width: 0px;
        margin: 0 auto;
        height: 3px;
        border-radius: 2px;
        background-color: var(--colorPrimary);
        pointer-events: none;
        transition: width 0.4s ease;
      }

      li:hover ~ .navigation__indicator {
        opacity: 1;
      }

      $indicatorWidths: 51px, 71px, 59px, 64px;

      @for $item from 1 to 5 {
        li:nth-child(#{$item}).active:after {
          width: nth($indicatorWidths, $item);
        }
      }

      .icon {
        font-size: 18px;
        @include utils.tablet {
          font-size: 24px;
        }
      }
    }

    &__link {
      padding: 8px 0px;
      transition: color 0.2s ease;
    }

    &__change-theme {
      cursor: pointer;
      display: flex;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      .icon {
        color: inherit;
      }
    }

    &__indicator {
      position: absolute;
      bottom: -4px;
      margin: auto;
      left: 0;
      width: 0px;
      height: 3px;
      border-radius: 2px;
      background-color: var(--colorPrimary);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;

      &.active {
        opacity: 1;
      }
    }

    @include utils.mobile {
      &__list {
        gap: 32px;
      }
    }
    @include utils.tablet {
      width: unset;
      justify-content: unset;

      &__list {
        gap: 40px;

        li {
          position: unset;
          &::after {
            display: none;
          }
        }

        $indicatorWidths: 68px, 95px, 80px, 86px;
        $indicatorLeft: 0px, 108px, 243px, 362px;

        @for $item from 1 to 5 {
          li:nth-child(#{$item}):hover ~ .navigation__indicator {
            width: nth($indicatorWidths, $item);
            left: nth($indicatorLeft, $item);
          }
          li:nth-child(#{$item}).active ~ .navigation__indicator {
            width: nth($indicatorWidths, $item) !important;
            left: nth($indicatorLeft, $item) !important;
          }
        }
      }
    }
  }

  // Top navbar mobile
  &.navbar--mobile {
    display: block;
    position: relative;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(utils.$color__white, 0.25);

    #{$self}__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0px;
    }
    #{$self}__text {
      color: utils.$color__white;
    }
    @include utils.tablet {
      opacity: 0;
      pointer-events: none;
    }
    .social-media--mobile {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .icon {
        color: inherit;
        font-size: 24px;

        @include utils.tablet {
          font-size: 20px;
        }
      }
    }
  }
}

// Hero
.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 4px;
  height: calc(100vh - 51px);
  position: relative;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0px;
    background: url('../assets/img/parallax3.webp');
    background-size: cover;
    background-position: center center;
    filter: brightness(0.5);
    // scale calculation: 1 + ((z transform value * -1)  / perspective)
    transform: translateZ(-4px) scale(calc(1 + ((-4 * -1) / 4)));
    z-index: -1;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: calc(100vh - 66px);

  @include utils.tablet {
    background: linear-gradient(to right, #0d0d0d 30%, transparent);
  }
}
@media (min-width: 768px) {
  .hero,
  .parallax {
    height: 100vh;
  }
}

// Header
.header {
  width: 100%;

  &__title {
    margin-bottom: 2rem;
    color: var(--colorPrimary);
  }
  &__description {
    font-size: 1.3333rem;
    color: utils.$color__white;
  }
  @include utils.tablet {
    width: 60%;
  }
}

// Contact
.contact {
  padding: 8px 0px;
  &__social-media {
    align-items: center;
    gap: 32px;
    display: none;
    & .icon {
      font-size: 30px;
    }
    @include utils.tablet {
      display: flex;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    & .icon {
      font-size: 1.125rem;
    }
    @media (max-width: 361px) {
      gap: 4px;
    }
  }
  @include utils.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
  }
}
