@use '../utils';

.technical-skills {
  padding: 80px 0px;
  color: utils.$whiteInDark;
  $self: &;
  background-color: utils.$dark;

  &__container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
    row-gap: utils.$spaceXL;

    @include utils.desktop {
      grid-template-columns: 3fr 2fr;
      column-gap: utils.$spaceXXL;
      row-gap: unset;
    }
  }

  &__title:after {
    background-color: utils.$secondaryColor-400;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

    @include utils.mobile {
      gap: 32px;
    }

    @include utils.tablet {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 0px;
    background-color: utils.$white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    position: relative;

    &:not(.technical-skills__item--seconday)::after {
      content: '';
      width: 0px;
      height: 3px;
      position: absolute;
      margin: auto;
      bottom: 0px;
      transition: width 0.3s ease-in-out;
    }

    @for $item from 1 to 8 {
      &:nth-child(#{$item}):not(.technical-skills__item--seconday)::after {
        background-color: nth(utils.$tech-colors, $item);
      }

      &:nth-child(#{$item}):hover:not(.technical-skills__item--seconday)::after {
        width: 100%;
      }

      &:nth-child(#{$item}) #{$self}__icon {
        color: nth(utils.$tech-colors, $item);
      }
    }

    #{$self}__icon {
      display: flex;

      .icon {
        height: 32px;
        max-width: 42px;
      }
    }
    #{$self}__text {
      font-size: 16px;
      color: utils.$black;
    }
  }

  &__item--seconday {
    color: utils.$black;
  }

  &__other {
    #{$self}__list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: utils.$spaceMd;
    }
    #{$self}__item {
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 12px 24px;
      background-color: utils.$white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

      .icon {
        height: 24px;
        max-width: 30px;
      }
    }
    #{$self}__text {
      font-size: 14px;
    }

    @include utils.tablet {
      #{$self}__list {
        margin-top: utils.$spaceXXL;
      }
    }
  }
}
