@use '../utils';

.training {
  .title::after {
    background-color: utils.$secondaryColor-400;
  }
}

.education {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 90px;
  position: relative;

  @include utils.tablet {
    margin: 0;
    flex-direction: row;
  }

  &__info {
    padding-left: 40px;
    font-size: 18px;
    position: relative;

    @include utils.tablet {
      padding-left: 0px;
      padding-bottom: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: -10px;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: utils.$primaryColor-700;
      border: 2px solid utils.$white;
      z-index: 1;

      @include utils.mobile {
        height: 30px;
        width: 30px;
        left: -12px;
      }
      @include utils.tablet {
        top: unset;
        bottom: -12px;
        left: 0px;
      }
    }
  }

  &__time {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__name {
    margin-bottom: 8px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, utils.$primaryColor-600 85%, transparent);

    @include utils.mobile {
      height: 100%;
      width: 6px;
    }
    @include utils.tablet {
      height: 6px;
      width: 100%;
      background: linear-gradient(to right, utils.$primaryColor-600 60%, transparent 95%);
    }
    @include utils.desktop {
      background: linear-gradient(to right, utils.$primaryColor-600 50%, transparent 85%);
    }
  }
}

.courses {
  margin-top: 96px;

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__load-all {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    .button {
      width: 100%;
    }
  }
  @include utils.mobile {
    &__load-all .button {
      width: 35%;
    }
  }
}

.course {
  &.fade {
    opacity: 0;
  }
  opacity: 1;
  box-shadow: 0px 2px 16px rgba(utils.$dark, 0.16);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, opacity 0.4s ease;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: white;
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    pointer-events: none;
    p {
      flex-basis: 80%;
    }
    span {
      font-size: 14px;
      color: rgba(utils.$dark, 0.6);
    }
    @include utils.mobile {
      gap: 8px;
      span {
        font-size: 14px;
      }
    }
    @include utils.tablet {
      flex-direction: row;
      align-items: center;
      gap: 24px;
      p {
        flex-basis: unset;
      }
    }
  }

  &__platform {
    display: flex;
    align-items: center;
    gap: 16px;
    pointer-events: none;
    p {
      font-size: 12px;
      color: rgba(utils.$dark, 0.6);
    }
    .logo {
      font-size: 28px;
      color: rgba(utils.$dark, 0.9);
      transition: transform 0.2s ease;
    }

    @include utils.mobile {
      gap: 24px;
      p {
        font-size: 14px;
      }
    }
    @include utils.tablet {
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left: 3px solid utils.$primaryColor-600;
    max-height: 0px;
    font-size: 14px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, padding 0.2s ease, opacity 0.2s ease;

    @include utils.desktop {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__learnings {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    .course__technologies {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      img {
        height: 20px;
      }
    }
    .course__technology {
      display: flex;
      gap: 6px;
    }

    @include utils.mobile {
      .course__technologies {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @include utils.desktop {
      gap: 24px;
    }
  }

  &--active {
    box-shadow: 0px 2px 16px rgba(utils.$dark, 0.4);
    .logo {
      transform: rotate(180deg);
    }
    .course__content {
      max-height: 300px;
      opacity: 1;
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px solid rgba(utils.$dark, 0.2);
    }
  }
}
