@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@400;600&display=swap');
@import 'variables';
@import 'globals';

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0px;
  backdrop-filter: blur(4px);
  z-index: 5;
  border-bottom: 1px solid rgba($white, $alpha: 0.25);
  display: none;
  transition: all 0.3s ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    transition: inherit;

    &__text {
      color: $white;
      transition: inherit;
    }
  }

  &--scroll {
    background-color: $white;
    .navbar {
      padding: 16px 0px;

      &__text {
        color: $black;
        fill: $black;
      }
    }
  }

  // Navigation
  .navigation {
    .navigation__list {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .navigation__link:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar-container {
    display: block;
  }
}

// Navigation Mobile
.navigation--mobile {
  display: block;
  position: sticky;
  bottom: 0px;
  left: 0px;
  background-color: $white;
  padding: 9px 0px 7px 0px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    fill: $dark;
  }
  .navigation__text {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .navigation--mobile {
    display: none;
  }
}

// Hero
.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 5px;
  height: calc(100vh - 63px);
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: calc(100vh - 63px);

  &::before {
    content: '';
    position: absolute;
    inset: 0px;
    background: url('../assets/img/parallax3.webp');
    background-size: cover;
    background-position: center center;
    filter: brightness(0.5);
    // scale calculation: 1 + ((z transform value * -1)  / perspective)
    transform: translateZ(-4px) translateX(-4px) scale(calc(1.05 + ((-4 * -1) / 5)));
    z-index: -1;
  }
  .header {
    width: 100%;

    .header__title {
      margin-bottom: 16px;
    }
    .header__description {
      font-size: 16px;

      @media (min-width: 768px) {
        & {
          font-size: 18px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .header {
      width: 60%;
    }
  }
}
@media (min-width: 768px) {
  .hero,
  .parallax {
    height: 100vh;
  }
}

// Top navbar mobile
.navbar-container--mobile {
  display: block;
  position: relative;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba($white, $alpha: 0.25);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
  }
  .navbar__text {
    color: $white;
  }
  .social-media--mobile {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  .navbar-container--mobile {
    opacity: 0;
    pointer-events: none;
  }
}

// Contact
.contact {
  padding: 8px 0px;
  .contact__social-media {
    fill: rgba($white, 0.5);
    align-items: center;
    gap: 32px;
    display: none;

    & .icon {
      font-size: 30px;
    }
  }
  @media (min-width: 768px) {
    .contact__social-media {
      display: flex;
    }
  }
  .contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact__link {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1rem;
      & .icon {
        font-size: 16px;
      }
    }
  }
  @media (min-width: 768px) {
    .contact__info {
      flex-basis: 60%;
    }
  }
  @media (min-width: 1024px) {
    .contact__info {
      flex-basis: 50%;
    }
  }
}
@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
  }
}

.main {
  height: 100vh;
  background-color: $white;
}

// About
.about {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: $spaceXL;

  &__title:after {
    background-color: $primaryColor-800;
  }
  &__text {
    font-size: 14px;

    @media (min-width: 768px) {
      & {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      column-gap: $spaceLg;
    }
    &__description {
      grid-column: 1 / 3;
    }
    &__content {
      grid-column: 1 / 3;
    }
    &__cv {
      grid-column: 1 / 3;
      justify-self: center;
    }
  }
  @media (min-width: 1024px) {
    & {
      grid-template-rows: repeat(2, auto);
      row-gap: unset;
    }
    &__description {
      grid-column: 1 / 2;
    }
    &__content {
      grid-column: 2 / 3;
    }
    &__cv {
      // grid-column: 1 / 3;
      // grid-row: 2 / 3;
      grid-area: 2 / 1 / 3 / 3;
      place-self: end start;
      margin-top: 0px;
    }
  }
}

.about__content {
  display: flex;
  gap: $spaceLg;
  flex-direction: column;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      gap: $spaceXL;
    }
    & .skills,
    & .interests {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1024px) {
    & {
      flex-direction: column;
    }
  }
}

.skills .subtitle,
.interests .subtitle {
  text-align: left;
  @media (min-width: 768px) and (max-width: 1023px) {
    & {
      text-align: center;
    }
  }
}

.skills {
  .skills__list {
    margin-top: $spaceMd;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: $spaceMd $spaceLg;

    .skills__text {
      font-size: 14px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: $primaryColor-800;
        transition: width 0.2s linear;
        @media (min-width: 1024px) {
          & {
            width: 30px;
          }
        }
      }
      &:hover:after {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      & {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 32px 40px;
        margin-top: $spaceLg;

        .skills__text {
          font-size: 16px;
          text-align: center;
        }
      }
    }
    @media (min-width: 1024px) {
      & {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 64px;
        margin-top: $spaceXL;
      }
    }
  }
}

.interests {
  .interests__list {
    margin-top: $spaceMd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spaceSm $spaceSm;

    .interests__item {
      text-align: center;
      border: 1px solid $black;
      padding: 8px 16px;
      border-radius: 8px;
    }
    .interests__icon {
      fill: $secondaryColor-400;
      margin-bottom: 8px;

      & .icon {
        font-size: 20px;
      }
      @media (min-width: 768px) {
        & .icon {
          font-size: 18px;
        }
      }
    }
    .interests__text {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: $spaceLg;
      }
      .interests__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
      }
      .interests__icon {
        margin: 0px;
        display: flex;
      }
    }
    @media (min-width: 1024px) {
      & {
        justify-content: start;
        column-gap: 14px;
      }
    }
  }
}

.about__cv {
  .button {
    width: 100%;
    @media (min-width: 768px) {
      & {
        width: auto;
      }
    }
  }
}

// Technical Skills
.technical-skill-container {
  background-color: rgba($primaryColor-800, 0.06);
}
.technical-skills {
  &__title:after {
    background-color: $secondaryColor-400;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    row-gap: $spaceXL;

    .technical-skills__description {
      font-size: 16px;
    }
    @media (min-width: 1024px) {
      & {
        grid-template-columns: 6fr 4fr;
        grid-template-rows: repeat(2, auto);
        column-gap: $spaceLg;

        .technical-skills__description {
          grid-column: 2 / 3;
          grid-row: 1 / 3;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    .technical-skills__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px 0px;
      background-color: $white;
      border-radius: 6px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

      .technical-skills__icon .icon {
        font-size: 2.1428rem;
        fill: $dark;
      }
      .technical-skills__text {
        font-size: 16px;
        @media (min-width: 1024px) {
          & {
            font-size: 18px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__other {
    .technical-skills__list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: $spaceMd;
    }
    .technical-skills__item {
      padding: 8px 24px;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

      .technical-skills__text {
        font-size: 14px;
      }
    }
  }
}
